* {
  font-family: "Roboto Condensed", sans-serif;
}

/* Header */

#Logo {
  font-size: 80px;
  padding-left: 20px;
  padding-right: 0;
  color: black;
  text-decoration: none;
}

header {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 20px;
}

/* header menu  */
nav > ul,
ul > li,
li > a {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
}

#cart {
  border: none;
  background-color: inherit;
}

menu {
  padding: 0;
}

/* Home */

#main-page {
  padding-left: 40px;
  padding-right: 40px;
}

h1 {
  grid-area: headline;
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
}

/* slideshow */

.slideshow {
  grid-area: slideshow;
  max-width: 100%;
  position: relative;
  margin: auto;
}

.slides-pics {
  aspect-ratio: 600 / 200;
  max-width: 100%;
  height: 50%;
  object-fit: cover;
}

/* product grids */

.item-box {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers everything inside */
  grid-area: IB;
  padding: 20px;
}

.item-box > img {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-box > p {
  text-align: center;
}

.item-box > button {
  width: 80%;
  height: 50px;
}

/* home page */

#main-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;

  grid-template-areas:
    "headline headline headline headline"
    "slideshow slideshow slideshow slideshow "
    "slideshow slideshow slideshow slideshow "
    " IB IB IB IB";

  padding-left: 40px;
  padding-right: 40px;
}

/* product page */

#product-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  row-gap: 40px;

  grid-template-areas:
    "headline headline headline headline"
    " IB IB IB IB"
    " IB IB IB IB"
    " IB IB IB IB";

  padding-left: 40px;
  padding-right: 40px;
}

/* product page responsive*/

@media screen and (max-width: 775px) {
  #product-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    row-gap: 40px;

    grid-template-areas:
      "headline headline"
      " IB IB"
      " IB IB"
      " IB IB"
      " IB IB"
      " IB IB"
      " IB IB"
      " IB IB";

    padding-left: 40px;
    padding-right: 40px;
  }
}

/* Detail page */

/* Cart */

/* Footer */

footer {
  display: flex;
  margin-top: 50px;
  border-top: 1px solid black;
  justify-content: space-between;
  align-items: center;
}
