* {
  font-family: "Roboto Condensed", serif;
}

/* Header */

#Logo {
  font-size: 80px;
  padding-left: 20px;
  padding-right: 0;
}

header {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  padding: 20px;
  /* padding-right: 20px;
  padding-bottom: 20px; */
}

/* header menu  */
nav > ul,
ul > li,
li > a {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  text-decoration: none;
}

#cart {
  border: none;
  background-color: inherit;
}

menu {
  padding: 0;
}

/* Footer */

footer {
  display: flex;
  margin-top: 50px;
  border-top: 1px solid black;
  justify-content: space-between;
  align-items: center;
}

/* Home */

main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;

  grid-template-areas:
    "headline headline headline headline"
    "slideshow slideshow slideshow slideshow "
    "slideshow slideshow slideshow slideshow "
    " P P P P ";

  padding-left: 40px;
  padding-right: 40px;
}

h1 {
  grid-area: headline;
  text-align: center;
  margin-top: 50px;
}

/* slideshow */

.slideshow {
  grid-area: slideshow;
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* .slides {
  /* display: none; */
/* } */

.slides-pics {
  aspect-ratio: 600 / 200;
  max-width: 100%;
  height: 50%;
  object-fit: cover;
}

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust for responsiveness */
  grid-area: P;
  grid-gap: 20px;
  width: 100%;
}

.product-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Product page */

/* Detail page */

/* Cart */
