* {
  font-family: "Roboto Condensed", sans-serif;
}

/* HEADER */

/* LARGE SCREEN */

.small-header {
  display: none;
}

header {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  align-items: last baseline;
}

.Logo {
  font-size: 80px;
  padding-left: 20px;
  padding-right: 0;
  color: black;
  text-decoration: none;
}

/* nav menu  */
nav > ul,
ul > li,
li > a {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  color: black;
}

.cart {
  scale: 2;
  border: none;
  background-color: inherit;
  color: black;
  padding-right: 20px;
  padding-bottom: 10px;
}

menu {
  padding: 0;
  margin: 0;
}

/* tablet screen */

@media screen and (max-width: 1007px) {
  .small-header {
    display: none;
  }

  .Logo {
    font-size: 60px;
    padding-left: 20px;
    padding-right: 0;
    color: black;
    text-decoration: none;
    align-items: center;
  }

  header {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    align-items: baseline;
  }

  nav > ul,
  ul > li,
  li > a {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    padding-left: 8px;
    padding-right: 8px;
    color: black;
  }

  .cart {
    border: none;
    background-color: inherit;
    padding-bottom: 10px;
  }

  menu {
    padding: 0;
  }
}

/* phone screen */

@media screen and (max-width: 743px) {
  .big-header {
    display: none;
  }

  .small-header {
    display: flex;
    align-items: center;
  }

  .Logo {
    font-size: 40px;
  }

  .cart {
    scale: 2;
    color: black;
    padding: 0px;
  }

  .right-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }

  /* this was found and used from
 * https://codepen.io/designcouch/pen/ExvwPY
 */

  #nav-icon1 {
    scale: 0.5;
    width: 60px;
    height: 45px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #nav-icon1 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: black;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #nav-icon1 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon1 span:nth-child(2) {
    top: 18px;
  }

  #nav-icon1 span:nth-child(3) {
    top: 36px;
  }

  #nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  #nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}

/* Home */

#main-page {
  padding-left: 40px;
  padding-right: 40px;
}

h1 {
  grid-area: headline;
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
}

/* slideshow */

.slideshow {
  grid-area: slideshow;
  max-width: 100%;
  position: relative;
  margin: auto;
}

.slides-pics {
  aspect-ratio: 600 / 200;
  max-width: 100%;
  height: 50%;
  object-fit: cover;
}

/* product grids */

.item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: IB;
  padding: 20px;
}

.item-box > img {
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-box > p {
  text-align: center;
}

.item-box > button {
  width: 80%;
  height: 50px;
}

/* home page */

#main-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;

  grid-template-areas:
    "headline headline headline headline"
    "slideshow slideshow slideshow slideshow "
    "slideshow slideshow slideshow slideshow "
    " IB IB IB IB";

  padding-left: 40px;
  padding-right: 40px;
}

/* product page */

#product-page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  row-gap: 40px;

  grid-template-areas:
    "headline headline headline headline"
    " IB IB IB IB"
    " IB IB IB IB"
    " IB IB IB IB";

  padding-left: 40px;
  padding-right: 40px;
}

/* product page responsive*/

@media screen and (max-width: 775px) {
  #product-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    row-gap: 40px;

    grid-template-areas:
      "headline headline"
      " IB IB"
      " IB IB"
      " IB IB"
      " IB IB"
      " IB IB"
      " IB IB"
      " IB IB";

    padding-left: 40px;
    padding-right: 40px;
  }
}

/* Detail page */

/* Cart */

/* Footer */

footer {
  display: flex;
  margin-top: 50px;
  border-top: 1px solid black;
  justify-content: space-between;
  align-items: center;
}
